<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div  th:fragment="footer">

<footer class="footer">
    <div class="container-fluid d-flex justify-content-between">
        <nav class="pull-left">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="http://www.themekita.com">
                      Manuais
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> TCC </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> O Grupo </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            2024, criado por EducaTime
        </div>
        <div>
            Distributed by
            <a target="_blank" href="https://themewagon.com/">ThemeWagon</a>.
        </div>
    </div>
</footer>