<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div  th:fragment="sidebar">
<!-- Sidebar -->
<div class="sidebar" style="background: #fff;">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="">
            <a href="../index.html" class="logo">
                <img
                        src="/assets/img/logo/logo.png"
                        alt="navbar brand"
                        class="navbar-brand"
                        height="38"
                />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="fa fa-bars" style="background:blue;"></i>
                </button>

                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left" style="background:red;"></i>
                </button>

            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt" style="background:red;"></i>
            </button>
        </div>


        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner" style="background: #940505">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <!-- Menu Professor-->
                <li class="nav-item">
                    <a href="...">
                        <i class="fa fa-graduation-cap" style="color:#fff;"></i>
                        <p style="#fff;">Professores</p>
                    </a>
                </li>
                <!-- Fim Menu Professor-->
                <!-- Menu Ambientes-->
                <li class="nav-item">
                    <a href="#">
                        <i class="fa fa-object-group" style="color:#fff;"></i>
                        <p>Ambientes</p>
                    </a>
                </li>
                <!-- Fim Menu Ambientes-->
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->








    <!--   Core JS Files   -->
    <script src="assets/js/core/jquery-3.7.1.min.js"></script>
    <script src="assets/js/core/popper.min.js"></script>
    <script src="assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Chart JS -->
    <script src="assets/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="assets/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="assets/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="assets/js/plugin/jsvectormap/jsvectormap.min.js"></script>
    <script src="assets/js/plugin/jsvectormap/world.js"></script>

    <!-- Sweet Alert -->



    <!-- Kaiadmin DEMO methods, don't include it in your project! -->















</body>
</html>