<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div  th:fragment="sidebar">
<!-- Sidebar -->
<div class="sidebar" style="background: #ccc;">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="">
            <a href="../index.html" class="logo">
                <img
                        src="../assets/img/logo/logo.png"
                        alt="navbar brand"
                        class="navbar-brand"
                        height="20"
                />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right" style="background:red;"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left" style="background:red;"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt" style="background:red;"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <!-- Menu Professor-->
                <li class="nav-item">
                    <a href="#">
                        <i class="fas fa-file"></i>
                        <p>Professores</p>
                    </a>
                </li>
                <!-- Fim Menu Professor-->
                <!-- Menu Professor-->
                <li class="nav-item">
                    <a href="#">
                        <i class="fas fa-file"></i>
                        <p>Ambientes</p>
                    </a>
                </li>
                <!-- Fim Menu Professor-->
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->
</div>
</body>
</html>