<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Ambientes</title>

    <div th:replace="~{/fragments/heads.html :: heads}"></div>

</head>
<div class="wrapper">
    <!--sidebar-->
    <div th:replace="~{/fragments/sidebar.html :: sidebar}"></div>
    <!--end sidebar-->

    <div class="main-panel">
        <div th:replace="~{/fragments/main-header.html :: main-header}"></div>

        <div class="container">
            <div class="page-inner">


                <!-- linhas -->

                <div class="row">


                    <!-- Customized Card -->
                    <div class="card">
                        <div class="card-header">
                            <span class="card-title">Salas Multidisciplinares</span>
                            <a th:href="@{/professor/form-inserir}" class="btn btn-danger" style="float: right">Inserir
                                ambiente</a>
                        </div>
                    </div>
                    <!--Fim Customized Card -->
                    <!--Início do Grid-->
                    <div class="col-md-4" th:each="ambiente : ${ambientes}">
                        <div class=" card card-post card-round">
                    <img
                            class="card-img-top"
                            src="/assets/img/ambientes/maker.jpg"
                            th:src="@{/assets/img/fotos-ambientes/{id}(id=${ambiente.image})}"
                            alt="Card image cap"
                    />
                    <div class="card-body">
                        <div class="d-flex">
                        </div>
                        <div class="separator-solid"></div>
                        <h3 class="card-title">
                            <a href="#"> <span th:text="${ambiente.nome}">Nome</span> </a>
                        </h3>
                        <p class="card-text" th:text="${ambiente.descricao}">
                            descrição
                        </p>
                        <a href="#" class="btn btn-primary btn-rounded btn-sm"
                        >Agendar</a
                        >
                    </div>
                </div>
            </div>
            <!--Fim do Grid-->
        </div>


    </div>
</div>
<div th:replace="~{fragments/footer.html :: footer}"></div>

<!-- Custom template | don't include it in your project! -->


<!-- End Custom template -->
</div>
<!--   Core JS Files   -->
<script src="../assets/js/core/jquery-3.7.1.min.js"></script>
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>

<!-- jQuery Scrollbar -->
<script src="../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<!-- Datatables -->
<script src="../assets/js/plugin/datatables/datatables.min.js"></script>
<!-- Kaiadmin JS -->
<script src="../assets/js/kaiadmin.min.js"></script>
<!-- Kaiadmin DEMO methods, don't include it in your project! -->
<script src="../assets/js/setting-demo2.js"></script>
<script>
    $(document).ready(function () {
        $("#basic-datatables").DataTable({
            language: {
                search: "Pesquisar:",
                // traduzir label de "Showing 1 to 10 of 57 entries"
                info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
                // traduzir label de "Showing 1 to 10 of 57 entries"
                infoEmpty: "Mostrando 0 a 0 de 0 registros",
                // traduzir label de "Showing 1 to 10 of 57 entries"
                infoFiltered: "(filtrado de _MAX_ registros)",
                // traduzir label de "Showing 1 to 10 of 57 entries"
                infoPostFix: "",
                // traduzir label de "Showing 1 to 10 of 57 entries"
                lengthMenu: "Mostrar _MENU_ registros",
                paginate: {
                    first: "Primeiro",
                    last: "Último",
                    next: "Próximo",
                    previous: "Anterior",
                },
            },
        });

        // fade out the alert after 5 seconds
        $("#mensagem").fadeTo(2000, 500).slideUp(500, function () {
            $("#mensagem").slideUp(500);
        });


    });
</script>
</div>
</body>
</html>