<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Ambientes</title>

    <div th:replace="~{/fragments/heads.html :: heads}"></div>

</head>
<div class="wrapper">
    <!--sidebar-->
    <div th:replace="~{/fragments/sidebar.html :: sidebar}"></div>
    <!--end sidebar-->

    <div class="main-panel">
        <div th:replace="~{/fragments/main-header.html :: main-header}"></div>

        <div class="container">
            <div class="page-inner">



                <!-- linhas -->

                    <div class="row">


                        <!-- Customized Card -->
                        <div class="card">
                            <div class="card-header">
                                <span class="card-title">Salas Multidisciplinares</span>
                                <a th:href="@{/professor/form-inserir}" class="btn btn-danger" style="float: right">Inserir ambiente</a>
                            </div>
                            </div>
                        <!--Fim Customized Card -->
                    <!--Início do Grid-->
                    <div class="col-md-4">
                        <div class="card card-post card-round">
                            <img
                                    class="card-img-top"
                                    src="/assets/img/ambientes/maker.jpg"
                                    alt="Card image cap"
                            />
                            <div class="card-body">
                                <div class="d-flex">
                                </div>
                                <div class="separator-solid"></div>
                                <h3 class="card-title">
                                    <a href="#"> Sala Maker </a>
                                </h3>
                                <p class="card-text">
                                    Um laboratório de criatividade, onde os alunos podem dar vida às suas ideias,
                                    construindo protótipos e projetos práticos. A sala Maker, é como uma oficina de invenções,
                                    onde a imaginação encontra a realidade, transformando ideias em objetos e soluções inovadoras.
                                </p>
                                <a href="#" class="btn btn-primary btn-rounded btn-sm"
                                >Agendar</a
                                >
                            </div>
                        </div>
                    </div>
                    <!--Fim do Grid-->

                    <!--Início do Grid-->
                    <div class="col-md-4">
                        <div class="card card-post card-round">
                            <img
                                    class="card-img-top"
                                    src="/assets/img/ambientes/lab1.jpeg"
                                    alt="Card image cap"
                            />
                            <div class="card-body">
                                <div class="d-flex">
                                </div>
                                <div class="separator-solid"></div>
                                <h3 class="card-title">
                                    <a href="#">Laboratório de Informática I </a>
                                </h3>
                                <p class="card-text">
                                    A sala de informática é como uma porta de entrada para o mundo digital,
                                    onde os alunos aprendem as bases da computação, servem como espaço para pesquisas e projetos.
                                </p>
                                <a href="#" class="btn btn-primary btn-rounded btn-sm"
                                >Agendar</a
                                >
                            </div>
                        </div>
                    </div>
                    <!--Fim do Grid-->

                    <!--Início do Grid-->
                    <div class="col-md-4">
                        <div class="card card-post card-round">
                            <img
                                    class="card-img-top"
                                    src="/assets/img/ambientes/lab1.jpeg"
                                    alt="Card image cap"
                            />
                            <div class="card-body">
                                <div class="d-flex">
                                </div>
                                <div class="separator-solid"></div>
                                <h3 class="card-title">
                                    <a href="#"> Laboratório de Informática II </a>
                                </h3>
                                <p class="card-text">
                                    Uma segunda sala de informática se torna essencial, nela, os alunos podem
                                    se aventurar em projetos inovadores, desenvolver habilidades tecnológicas
                                    avançadas e se preparar para o mercado de trabalho.
                                </p>
                                <a href="#" class="btn btn-primary btn-rounded btn-sm"
                                >Agendar</a
                                >
                            </div>
                        </div>
                    </div>
                    <!--Fim do Grid-->

                    <!--Início do Grid-->
                    <div class="col-md-4">
                        <div class="card card-post card-round">
                            <img
                                    class="card-img-top"
                                    src="/assets/img/ambientes/fisica.jpeg"
                                    alt="Card image cap"
                            />
                            <div class="card-body">
                                <div class="d-flex">
                                </div>
                                <div class="separator-solid"></div>
                                <h3 class="card-title">
                                    <a href="#"> Laboratório de Ciências Físicas </a>
                                </h3>
                                <p class="card-text">
                                    Espaço dedicado à validar os conceitos teóricos da física,
                                    permitindo a aplicação prática dos princípios físicos e o desenvolvimento
                                    de novas tecnologias entre os alunos e docentes.
                                </p>
                                <a href="#" class="btn btn-primary btn-rounded btn-sm"
                                >Agendar</a
                                >
                            </div>
                        </div>
                    </div>
                    <!--Fim do Grid-->

                    <!--Início do Grid-->
                    <div class="col-md-4">
                        <div class="card card-post card-round">
                            <img
                                    class="card-img-top"
                                    src="/assets/img/ambientes/ciencias.jpeg"
                                    alt="Card image cap"
                            />
                            <div class="card-body">
                                <div class="d-flex">
                                </div>
                                <div class="separator-solid"></div>
                                <h3 class="card-title">
                                    <a href="#"> Laboratório de Ciências Químicas e Ciências Biológicas </a>
                                </h3>
                                <p class="card-text">
                                    Espaço para realizar experimentos e análises de substâncias e reações químicas,
                                    também é usado para investigar fenômenos naturais em áreas como biologia, física
                                    e geologia.
                                </p>
                                <a href="#" class="btn btn-primary btn-rounded btn-sm"
                                >Agendar</a
                                >
                            </div>
                        </div>
                    </div>
                    <!--Fim do Grid-->

                    <!--Início do Grid-->
                    <div class="col-md-4">
                        <div class="card card-post card-round">
                            <img
                                    class="card-img-top"
                                    src="/assets/img/ambientes/biblioteca.jpeg"
                                    alt="Card image cap"
                            />
                            <div class="card-body">
                                <div class="d-flex">
                                </div>
                                <div class="separator-solid"></div>
                                <h3 class="card-title">
                                    <a href="#"> Biblioteca </a>
                                </h3>
                                <p class="card-text">
                                    Busca aprimorar a leitura dentro da escola, oferecendo livros, recursos para
                                    pesquisa e um espaço tranquilo para aprender. É um ambiente que incentiva
                                    a leitura e complementa o aprendizado em sala de aula.
                                </p>
                                <a href="#" class="btn btn-primary btn-rounded btn-sm"
                                >Agendar</a
                                >
                            </div>
                        </div>
                    </div>
                    <!--Fim do Grid-->

                    <!--Início do Grid-->
                    <div class="col-md-4">
                        <div class="card card-post card-round">
                            <img
                                    class="card-img-top"
                                    src="/assets/img/ambientes/quadra.jpeg"
                                    alt="Card image cap"
                            />
                            <div class="card-body">
                                <div class="d-flex">
                                </div>
                                <div class="separator-solid"></div>
                                <h3 class="card-title">
                                    <a href="#"> Quadra Poliesportiva </a>
                                </h3>
                                <p class="card-text">
                                    A quadra poliesportiva é um espaço versátil para a prática
                                    de diversos esportes, eventos escolares e integração social,
                                    é um local que incentiva o movimento e a competição.
                                </p>
                                <a href="#" class="btn btn-primary btn-rounded btn-sm"
                                >Agendar</a
                                >
                            </div>
                        </div>
                    </div>
                    <!--Fim do Grid-->

                    <!--Início do Grid-->
                    <div class="col-md-4">
                        <div class="card card-post card-round">
                            <img
                                    class="card-img-top"
                                    src="/assets/img/ambientes/artes.jpeg"
                                    alt="Card image cap"
                            />
                            <div class="card-body">
                                <div class="d-flex">
                                </div>
                                <div class="separator-solid"></div>
                                <h3 class="card-title">
                                    <a href="#"> Vivências Artísticas </a>
                                </h3>
                                <p class="card-text">
                                    Espaço dedicado ao desenvolvimento da criatividade e expressão artística,
                                    permitindo que os alunos explorem técnicas, experimentem materiais e
                                    desenvolvam habilidades artísticas.
                                </p>
                                <a href="#" class="btn btn-primary btn-rounded btn-sm"
                                >Agendar</a
                                >
                            </div>
                        </div>
                    </div>
                    <!--Fim do Grid-->

                    <!--Início do Grid-->
                    <div class="col-md-4">
                        <div class="card card-post card-round">
                            <img
                                    class="card-img-top"
                                    src="/assets/img/ambientes/robotica.webp"
                                    alt="Card image cap"
                            />
                            <div class="card-body">
                                <div class="d-flex">
                                </div>
                                <div class="separator-solid"></div>
                                <h3 class="card-title">
                                    <a href="#"> Programação e Robótica </a>
                                </h3>
                                <p class="card-text">
                                    Espaço para aprender sobre robótica, construindo, programando e testando
                                    robôs. É um ambiente que promove a criatividade e o raciocínio lógico e o aprendizado prático para o futuro.
                                </p>
                                <a href="#" class="btn btn-primary btn-rounded btn-sm"
                                >Agendar</a
                                >
                            </div>
                        </div>
                    </div>
                    <!--Fim do Grid-->



                </div>


            </div>
        </div>
        <div th:replace="~{fragments/footer.html :: footer}"></div>

        <!-- Custom template | don't include it in your project! -->


        <!-- End Custom template -->
    </div>
    <!--   Core JS Files   -->
    <script src="../assets/js/core/jquery-3.7.1.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <!-- Datatables -->
    <script src="../assets/js/plugin/datatables/datatables.min.js"></script>
    <!-- Kaiadmin JS -->
    <script src="../assets/js/kaiadmin.min.js"></script>
    <!-- Kaiadmin DEMO methods, don't include it in your project! -->
    <script src="../assets/js/setting-demo2.js"></script>
    <script>
        $(document).ready(function () {
            $("#basic-datatables").DataTable({
                language: {
                    search: "Pesquisar:",
                    // traduzir label de "Showing 1 to 10 of 57 entries"
                    info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
                    // traduzir label de "Showing 1 to 10 of 57 entries"
                    infoEmpty: "Mostrando 0 a 0 de 0 registros",
                    // traduzir label de "Showing 1 to 10 of 57 entries"
                    infoFiltered: "(filtrado de _MAX_ registros)",
                    // traduzir label de "Showing 1 to 10 of 57 entries"
                    infoPostFix: "",
                    // traduzir label de "Showing 1 to 10 of 57 entries"
                    lengthMenu: "Mostrar _MENU_ registros",
                    paginate: {
                        first: "Primeiro",
                        last: "Último",
                        next: "Próximo",
                        previous: "Anterior",
                    },
                },
            });

            // fade out the alert after 5 seconds
            $("#mensagem").fadeTo(2000, 500).slideUp(500, function () {
                $("#mensagem").slideUp(500);
            });


        });
    </script>
</div>
</body>
</html>